
@{
    Layout = null;
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";

}


    <div>
        <button id="trung" type="button">tttt</button>
    </div>
    <script>
        $(document).ready(function () {
            $("#trung").click(function () {
                alert('hello')
            })
        })
    </script>
